<div class="sandbox">
    <div class="l-restrictor">
        <h1 class="sandbox-title">D3 sandbox</h1>
        <ul class="sandbox-list">
            <li class="sandbox-list_item">
                <a href="bars.html" class="sandbox-list_link">bars</a>
            </li>
            <li class="sandbox-list_item">
                <a href="scales.html" class="sandbox-list_link">scales</a>
            </li>
            <li class="sandbox-list_item">
                <a href="groupsandaxes.html" class="sandbox-list_link">groups and axes</a>
            </li>
            <li class="sandbox-list_item">
                <a href="enter-up-exit.html" class="sandbox-list_link">enter-up-exit</a>
            </li>
            <li class="sandbox-list_item">
                <a href="transitions.html" class="sandbox-list_link">transitions</a>
            </li>
            <li class="sandbox-list_item">
                <a href="arrays.html" class="sandbox-list_link">arrays</a>
            </li>
            <li class="sandbox-list_item">
                <a href="paths.html" class="sandbox-list_link">paths</a>
            </li>
            <li class="sandbox-list_item">
                <a href="arcs.html" class="sandbox-list_link">arcs</a>
            </li>
            <li class="sandbox-list_item">
                <a href="tree-layout.html" class="sandbox-list_link">tree layout</a>
            </li>
            <li class="sandbox-list_item">
                <a href="cluster.html" class="sandbox-list_link">cluster</a>
            </li>


            <li class="sandbox-list_item">
                <a href="el-barto.html" class="sandbox-list_link">El Barto</a>
            </li>

        </ul>
    </div>
</div>
