<section class="sandbox tree-layout">
    <div class="l-restrictor">
        <h1 class="sandbox-title">D3 sandbox | Tree layout</h1>
        <a href="sandbox.html" class="main-link"><– to sandbox</a>
        <svg>
            <defs>
                <pattern id="fil" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/fil.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
                <pattern id="visl" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/visl.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
                <pattern id="us" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/us.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
                <pattern id="html" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/html.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
                <pattern id="jquery" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/jquery.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
                <pattern id="raphael" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/raphael.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
                <pattern id="scrollmagic" x="0" y="0" width="1" height="1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <image x="0" y="0" xlink:href="static/img/general/scrollmagic.jpg" width="100" height="100" preserveAspectRatio="none"></image>
                </pattern>
            </defs>
        </svg>
    </div>
</section>

